<!-- <input 
	type="file" 
    [ng-file-select]="options" 
    (onUpload)="handleUpload(stepId, projectId, $event)"
    multiple
    class="btn btn-success"
  > -->
<div class="row text-center">
	<div class="col-xs-12">
		<label class="btn btn-success btn-file">
		    <span class="glyphicon glyphicon-upload" aria-hidden="true"></span> Selecione suas fotos
		    
		    <!-- <input #elem type="file" 
		    [ng-file-select]="options" 
		    (onUpload)="handleUpload(stepId, projectId, $event)"
		    (change)="elem.files=null;"
		    multiple
		    class="btn btn-success"
		    > -->

		</label>
	</div>
</div>


