

<new-photo #photoForm='photoForm' [stepId]="step_id" [projectId]="project_id" [photos_parent]="photos" [photosArray]="photos" (photosListChange)="addNewPhotoToArray_Listener($event);">
</new-photo>

<div class="row" [dragula]='"second-bag"' style="margin-top:40px;">
	<div class="col-xs-3" *ngFor="let photo of photos" >
		<div style="position: absolute;top:9px;right:24px;">
			<a (click)="photoForm.deletePhoto(photo.step_id, photo.id)" style="color: #fff;">
				<span aria-hidden="true" class="glyphicon glyphicon-remove" 
					style="font-size: 12pt;"></span>
			</a>
		</div>
		<div class="thumbnail">
			<img src="http://localhost:8000/{{photo.file}}"/>
		</div>
	</div>
</div>





<!-- Passo Título: <input type="text" required [(ngModel)]="model.title"> -->
