<button class="btn btn-lg btn-success" type="button" (click)="openModal('newStep', model.project, null, false)">
	Adicionar Nova Etapa
</button>
<!-- Modal -->
<div bsModal #addNewStepModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content text-left">
      
      	<div class="modal-header" style="border:0px;padding-bottom:0px;">
	        <button type="button" class="close" aria-label="Close" (click)="addNewStepModal.hide()"><span aria-hidden="true">&times;</span></button>
	        <!-- <h4 class="modal-title" id="myModalLabel">
	        	Modal title
	        </h4> -->
     	</div>
      
      	<div class="modal-body">
	      	
	      	<div *ngIf="action!='addPhoto'">

	      		<div class="row" style="padding: 0px 35px 0px 35px;">
	  				<div class="col-xs-12">
	  					<h3 style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif,'Roboto';font-weight:400;font-size: 14pt;">Dê um nome para essa etapa:</h3>
	  				</div>
  				</div>

  				<div class="row" style="padding:10px 35px 0 35px;">
  					<div class="col-xs-12">
  						<input type="text" [(ngModel)]="model.title" style="height:57px;font-size:14pt;" class="form-control">
					</div>
				</div>

				<div class="row" style="padding: 20px 35px 0px 35px;">
				  	<div class="col-xs-12">
						<h3 style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif,'Roboto';font-weight:400;font-size: 14pt;">
							Descreva de forma clara o passo-a-passo dessa etapa:
						</h3>
					</div>
				</div>
				
			</div>

			<div class="row" style="padding: 10px 35px 0px 35px;" >
			  	<div class="col-xs-12">
			  		<textarea class="tinyMCE textarea_font_size" id="mytextarea" >opa opa</textarea>
			  	</div>
			</div>
			<br>
   		</div>

	    <div class="modal-footer">
    	    <button type="button" class="btn btn-default" (click)="addNewStepModal.hide()" data-dismiss="modal">Close</button>
        	<button type="button" class="btn btn-success" (click)="saveStep(model.project)">Salvar Etapa</button>
    	</div>
    </div>
  </div>
</div>


<div bsModal #addPhotosModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content text-left">
      
      	<!-- <div class="modal-header" >
	        <button type="button" class="close" aria-label="Close" (click)="addPhotosModal.hide()"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title">Gerenciador de Fotos</h4>
     	 </div>-->
      
      	<div class="modal-body" style="margin-top:20px;">
			<div *ngIf="action=='addPhoto'">
			  <list-photos [projectId]="model.project" [stepId]="step_id" ></list-photos>
			</div>
   		</div>
	    
    </div>
  </div>
</div>


  


