<div class="row" style="height:70px;z-index:0;border-bottom:1px solid #ededed;background-color:rgba(255, 255, 255, 1);">
	<div class="col-xs-12 col-md-10 col-md-offset-1" style="margin-top:31px;">

		<ul class="nav nav-pills">
			
			<li role="presentation">
				<a routerLink="/" style="display:inline;background-color:transparent;"><img [src]="logo_header" style="height:38px;z-index:10;margin-top:-13px;"></a>
			</li>
			<li role="presentation">
				<span style="font-size:14pt;font-family:'Roboto';font-weight:300;color:#000;margin-left:10px;">Tecnologia Assistiva de Baixo Custo</span>
			</li>
			
			<li role="presentation" class="navbar-right" style="font-family:'Roboto';font-size:12pt">
				<span (click)="authService.login()" *ngIf="!authService.authenticated()">Login</span>
 				<span (click)="authService.logout()" *ngIf="authService.authenticated()">Sair</span>
			</li>

			<span *ngIf="authService.authenticated()">
			
			<li role="presentation" class="navbar-right" style="font-family:'Roboto';font-size:12pt;padding-right:45px;">
				<a routerLink="/open-project/add">Enviar Projeto</a>
			</li>			
			<li role="presentation" class="navbar-right" style="font-family:'Roboto';font-size:12pt;padding-right:45px;">
				<a routerLink="/open-project">Meus Projetos Enviados</a>
			</li>			

			</span>
			
		</ul>

	</div>
</div>